*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
    color: gray;
}

a:hover{
    color: honeydew;
}

p{
    color: gray;
}

/* STRUTTURA */

.container .colonna{
    width: 220px;
    height: 100%;
    background-color: black;
    float: left;
    overflow: hidden;
}

.container main{
    width: 100%;
    height: calc(100% - 80px);
}

.call-to-action{
    position: fixed;
    top: 0px;
    right: 0px;
    width: calc(100% - 220px);
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

main .contenuto{
    width: calc(100% - 220px);
    height: 100%;
    float: left;
    background-color: #141922;
    overflow: scroll;
    padding-top: 90px;
}

footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272828;
}

/* COLONNA */

.menu{
    height: 100%;
}

.colonna img{
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.colonna .logo img{
    height: 40px;
    margin: 5px 0px 15px 15px;
}

.colonna ul{
    margin-left: 15px;
    list-style: none;
}

.colonna .main-menu{
    height: 68%;
    overflow: hidden;
}

.colonna .top-menu li{
    margin: 7px 0px;
}

.colonna .main-menu li{
    margin-bottom: 15px;
    overflow: hidden;
}

.colonna .main-menu>h3{
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}

.colonna p, h3{
    margin: 5px 15px;
}

.colonna .menu .sotto-menu{
    height: 40px ; 
}

.colonna .fa-plus{
    padding: 6px;
    background-color: gray;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;
}


/* CALL TO ACTION */

.btn-upgrade{
    float: right;
    color: honeydew;
    padding: 10px 35px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 10px;
}

/* CONTENUTO */

.contenuto .brani ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.contenuto .brani ul li{
    margin-right: 20px;
}

.contenuto .brani h1{
    margin: 30px 0px 15px 15px;
    font-size: 25px;
    color: white;
}

.contenuto .brani .suggerimenti{
    margin: 0px 0px 30px 15px;
}

.contenuto .recenti{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenuto .consigliati, .popolari{
    width: 34%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.contenuto .box{
    width: 14vw;
    display: inline-block;
    text-align: center;
}

.contenuto .box img{
    width: 12vw;
}

.contenuto .box h3{
    font-size: 15px;
    color: white;
}

.contenuto .box .artisti{
    border-radius: 50%;
}

/* FOOTER */

footer .left, .right{
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .left, .right{
    width: 210px;
}

footer .center{
    width: 35%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LEFT */

footer .left, .right{
    width: 15%;
}

footer img{
    height: 50px;   
}

footer h4{
    color: white;
    font-size: 13px;
}

footer .icone{
    margin-left: 15px;
}

footer .icone-sinistra i{
    font-size: 15px;
    color: gray;
    margin-left: 10px;
}

/* RIGHT */

footer .right i{
    font-size: 13px;
    color: white;
}

footer .right .volume{
    width: 100px;
    height: 3px;
    border: 1px solid white;
    border-radius: 10%;
    background-color: white;
}

/* CENTER */

.icone-centrali{
    display: flex;
    align-items: center;
}

footer .center i{
    font-size: 15px;
    color: white;
    margin: 10px;
}

.barra-riproduzione{
    width: 80%;
    height: 3px;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 10%;
}

footer .center .fa-play-circle{
    font-size: 30px;
}

.player{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



